.testie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: red;
    background-color: black;
    width: 50%;
    height: 20%;
}

.bodyclass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 200px;
}